* { 
    margin: 0px;
    padding: 0px;
}
/* header section css style */
.header {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 10px;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 17px;
    gap: 15px;
}

