* { 
    margin: 0px;
    padding: 0px;
}
/* header section css style */
.header {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 10px;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 17px;
    gap: 15px;
}

/* header er banner section part css style */

.banner {
    height: 100vh;
    border: 2px solid salmon;
    background-image:url(./asset/image/background.jpg), linear-gradient( rgba(0 ,0 ,0 ,0.2), rgba( 0, 0, 0,0.4));
    background-blend-mode: overlay;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
}

/* header span section css style */

.color {
    color: red;
}

.h1{

    font-size: 55px;
font-weight: bold;
color: white;
}
.pera {
    color: white;
    font-size: 30px;
    padding: 10px;
    width: 50%;
    margin: auto;
}

/* button section css  */
.btn {

    padding: 12px 20px;
    border: none;
}
.button {
    background-color: red;
color: white;

}
