* { 
    margin: 0px;
    padding: 0px;
}
/* header section css style */
.header {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 10px;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 17px;
    gap: 15px;
}

/* header er banner section part css style */

.banner {
    height: 100vh;
    border: 2px solid salmon;
    background-image:url(./asset/image/background.jpg), linear-gradient( rgba(0 ,0 ,0 ,0.2), rgba( 0, 0, 0,0.4));
    background-blend-mode: overlay;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
}

/* header span section css style */

.color {
    color: red;
}

.h1{

    font-size: 55px;
font-weight: bold;
color: white;
}
.pera {
    color: white;
    font-size: 30px;
    padding: 10px;
    width: 50%;
    margin: auto;
}

/* button section css  */
.btn {

    padding: 12px 20px;
    border: none;
}
.button {
    background-color: red;
color: white;

}

/* main section part css style */

.tom {
    height: 100vh;
    border: 2px solid salmon;
    background-image:url(./asset/image/footer-bg.png), linear-gradient( rgba(0 ,0 ,0 ,.9), rgba( 0, 0, 0,0.9));
    background-blend-mode: overlay;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

/* main section img css style */

.icon {
    width: 80px;
margin-bottom: 20px;
}

.migu {
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 5px solid grey;
    
    
    
}
.box {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.apen {
    width: 50%;
}

.bhai {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.author {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile {

    display: flex;
    align-items: last baseline;
    border-right: 2px solid red;
    padding-right: 20px;
}

/* contact section css style */

.number {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 30px;
    background-color: red;
    border-radius: 5px;
    margin-top: -30px;
    align-items: center;
    gap: 10px;
}